/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  background-size: cover;
  height: 100vh;
  color: white;
}

.banner p {
  font-size: 30px;
  font-weight: lighter;
}

.my-form {

}
