<div class="container text-center">
  <h1><%= @question_choice.msg_if_chosen %></h1>
  <% if @question_choice.is_right_choice %>
    <% if @question_choice.question.next %>
      <%= link_to "Question suivante", question_path(@question_choice.question.next), class: "btn btn-success "%>
    <% else %>
      <h2>Felicitation papounet, bon anniversaire, tu peux désormais découvrir ton cadeau ;-)</h2>
      <%= link_to "Voir Cadeau", cadeau_path, class: "btn btn-success" %>
    <% end %>
  <% else %>
    <%= link_to "Retourner à la question #{@question_choice.question.get_question_number}", question_path(@question_choice.question), class: "btn btn-danger" %>
  <% end %>
</div>

