<% if @question_choice.is_right_choice %>
  <div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('http://res.cloudinary.com/jtb360/image/upload/v1479641475/gagn%C3%A9_d%C3%A9coup%C3%A9_c5ptqx.jpg');">
<% else %>
    <div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('http://res.cloudinary.com/jtb360/image/upload/v1479602366/bougies_cbismv.png');">
<% end %>


<div class="container text-center">
  <h1><%= @question_choice.msg_if_chosen %></h1>
  <% if @question_choice.is_right_choice %>
    <% if @question_choice.question.next %>
      <%= link_to "Question suivante", question_path(@question_choice.question.next), class: "btn btn-success "%>
    <% else %>
      <h2>Felicitation papounet, bon anniversaire, tu peux désormais découvrir ton cadeau ;-)</h2>
      <%= link_to "Voir Cadeau", cadeau_path, class: "btn btn-success" %>
    <% end %>
  <% else %>
    <%= link_to "Retourner à la question #{@question_choice.question.get_question_number}", question_path(@question_choice.question), class: "btn btn-danger" %>
  <% end %>
</div>

</div>
