<div class="container">
  <h2 class="text-center">Felicitation papounet, tu es l'heureux gagnant d'un weekend en amoureux</h2>
  <h2>Conditions générales :</h2>
  <ul>
    <li>Prise en charge de Benjamin durant le week-end</li>
    <li>Jérémy paie les billets d'avions</li>
    <li>Papounet et mamounette choisiront une date qui leur convient en janvier 2017</li>
  </ul>

  <h2>Destinations suggérées:</h2>
  <ul>
    <li>Espagne</li>
    <li>Grèce</li>
    <li>Italie</li>
    <li>Une autre idée :-) ?</li>
  </ul>
</div>
