<div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('http://res.cloudinary.com/jtb360/image/upload/v1479602366/bougies_cbismv.png');">

  <div class="container">
    <h2 class="text-center">Felicitation papounet, tu es l'heureux gagnant d'un weekend en amoureux</h2>
    <h2>Conditions générales :</h2>
    <ul>
      <li>Prise en charge de Benjamin durant le week-end</li>
      <li>Jérémy paie les billets d'avions</li>
      <li>Papounet et mamounette choisiront une date qui leur convient en janvier 2017</li>
    </ul>

    <h2>Destinations suggérées:</h2>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/jtb360/image/upload/v1479637613/budapest_ov4cgp.jpg');">
          <div class="card-category">Hongrie</div>
          <div class="card-description">
            <h2>Budapest</h2>
            <p>Prévoir une bonne veste</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/jtb360/image/upload/v1479637613/madrid_mrv22r.jpg');">
          <div class="card-category">Espagne</div>
          <div class="card-description">
            <h2>Madrid</h2>
            <p>Prévoir une bonne veste</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/jtb360/image/upload/v1479637613/porto_sxmdbx.jpg');">
          <div class="card-category">Portugal</div>
          <div class="card-description">
            <h2>Porto</h2>
            <p>Prévoir une bonne veste</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/jtb360/image/upload/v1479637613/chambord_ohvtwc.jpg');">
          <div class="card-category">Pas trop loin</div>
          <div class="card-description">
            <h2>Chambord</h2>
            <p>Prévoir une bonne veste</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/jtb360/image/upload/v1479639138/jeremy_ufnvmj.jpg');">
          <div class="card-category">Pas trop loin</div>
          <div class="card-description">
            <h2>Journée avec Jérémy</h2>
            <p></p>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
