<div class="container text-center">
  <h1>Salut Papou !!!</h1>
  <p>Tu aimerais bien connaître ton cadeau, hein :-p ? Et bien en fait, un cadeau, ça se mérite ! Tu vas donc devoir répondre à un petit QCM ;-)</p>

  <%= link_to "Aller sur le QCM", question_path(Question.first), class: "text-center btn btn-primary" %>
</div>
