
<div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('http://res.cloudinary.com/jtb360/image/upload/v1479602366/bougies_cbismv.png');">
  <div class="container text-center">
    <h1>Salut Papou !!!</h1>
    <p>Tu aimerais bien connaître ton cadeau, hein :-p ? Et bien en fait, un cadeau, ça se mérite ! Tu vas donc devoir répondre à un petit QCM ;-)</p>

    <%= link_to "Aller sur le QCM", question_path(Question.first), class: "text-center btn btn-primary" %>
  </div>
</div>
